:root {
  --color-dark--1: rgb(48, 43, 47);
}

#map {
  height: 30rem;
}

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: antiquewhite;
  border-radius: 5px;
}

.leaflet-popup-tip {
  background-color: var(--color-dark--1);
}
